a:hover{
  color:#111d5e;
}
.about1{
color:white;
background-color:#ef4f4f;
margin:0 165px 0 200px;
padding:10px 0 0 10px;
text-align:left;
}


.about2{
  height:250px;
}
.about3{
  margin:0 160PX 0 200px;
  padding-top:10px;
  display:inline-block;
  font-size:large;

}
.about4{
text-align:right;
}
.index {
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: arial black, sans-serif;
}
.Tam {
  background-color: black;
  height: 200px;
}

.top-container {
  background-color: #d4e2d4;
  border: solid 10px;
  border-left-width: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.middle-container {
  background-color: #999b84;
  width: 200px;
  height: 200px;
  padding-top: 10px;
  padding-left: 5px;
}
.profile{
  border:solid 5px;

}
.bottom-container {
  background-color: #41584b;
  width: 200px;
  height: 200px;
  display: inline-block;
  color: white;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
}
h3{
font-family: 'Roboto', sans-serif;
}

h1 {
margin-top: 0;
font-family: 'Crimson Text', serif;

}

h4 {
  border-color: white;
}

p{
font-family: 'Old Standard TT', serif;


}
a {
  color: white;
}
